<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_2" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %magenta([%X{request-id}]) %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.mkjb.notes" level="INFO" additivity="false">
        <appender-ref ref="STDOUT_2"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
